.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: radial-gradient(circle at 10% 20%, #0061ff 0%, #60efff 100.7%);
  color: white;
  text-align: center;
}

.container img {
  max-width: 200px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.container img:hover {
  transform: scale(1.05) rotate(2deg);
}

.container h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.input_box {
  background-color: white;
  padding: 50px 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  max-width: 320px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.input_box p{
  color: black;
}

.input_box input {
  font-size: 1.1rem;
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid #D8DADC;
  outline: none;
  transition: border-color 0.2s;
}

.input_box input:focus {
  border-color: #32CD32;
}

.input_box button {
  background-color: #32CD32;
  color: white;
  font-size: 1.1rem;
  padding: 14px 0;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.input_box button:hover {
  background-color: #28b428;
}